.info-title {
    font-size: 17px;
    color: hsl(165, 68%, 61%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: right;
    line-height: 0px;
    position: relative;
}

.info-text {
    align-content: center; 
    width: 200px; 
    height: 240px; 
    padding: 10px; 
    float: right; 
    text-align: left; 
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); 
    margin: 0 0%;
    line-height: 25px;
    position: relative;
    top: 15px;
}

.tree {
    float: right;
    line-height: 670px;
    position: relative;
    margin: 0 -18px;
}

.client2 {
    font-size: 20px;
    color: hsl(165, 68%, 61%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: right;
    line-height: 690px;
    position: relative;
    margin: 0 -180px;
}

.client-info {
    align-content: center;
    width: 200px;
    height: 185px;
    padding: 10px;
    float: right;
    text-align: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 0 -16%;
    line-height: 25px;
    position: relative;
    top: 360px;
}

.proj-title {
    font-style: oblique;
    font-size: 39px;
    line-height: 35px;
    position: relative;
    margin: 0 525px;
    top: 85px;
    text-shadow: 2px 2px 5px hsl(165, 68%, 61%);
}

.proj-slogan {
   position: relative;
   margin: 0 485px;
   line-height: 30px;
   top: 120px;
   font-style: italic;
   
   
}

.camp-image {
    position: relative;
    width: 410px;
    height: 330px;
    background-image: url(http://clipartmag.com/images/animated-camping-20.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    top: -350px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    float: left;
}
.camp-image2 {
    background-image: url(https://tutordoctorofwny.files.wordpress.com/2013/03/group_study.jpg);
    position: relative;
    width: 410px;
    height: 330px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px;
    float: left;
    margin: 0 -410px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.camp-image3 {
    float: right;
    background-image: url(https://www.pngkey.com/png/detail/81-813548_tall-clipart-apple-tree-trees-and-flowers-clipart.png);
    width: 310px;
    height: 630px;
    background-size: contain;
    background-repeat: repeat-y;
    margin-top: -25%;
    
    
}
